#friends-names-link {
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  display: block;
  margin-bottom: 30px;
}

.fa-info-circle {
  color: #d5d5d5;
  size: 50px;
}

.fa-chevron-right {
  color: #d5d5d5;
  padding-left: 10px;
}

.friends-screen {
  margin: 15px var(--screen-left-space);
}
.friends-screen__friends {
  border-top: var(--border);
  margin-top: 20px;
  padding: 15px 0px;
}

.friends-screen__friends-header {
  display: flex;
  justify-content: space-between;
}
.friends-screen__friends-header__title {
  color: var(--gray);
  font-size: 15px;
}

.fa-chevron-up {
  color: #d5d5d5;
}

@keyframes splashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
