.more-screen .user-component {
  margin-top: 10px;
}
.user-component__subtitle__warning {
  color: red;
}

.more-screen .user-component__column:nth-child(2) {
  color: rgba(0, 0, 0, 0.7);
}
.more-screen .icons-row {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.more-suggestions__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 14px;
}

.more-suggestions__icons-row {
  margin-top: 30px;
  display: flex;
}

.more-suggestions__icon {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestios__icon__image {
  width: 45px;
  height: 45px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 10px;
}

.more-suggestios__icon__image i {
  font-size: 20px;
}
