.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px 30px 20px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icon {
  margin-left: 30px;
  position: relative;
}

.screen-header__notification {
  position: absolute;
  top: -10px;
  right: -5px;
}
